/*@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,600');*/

@-moz-document domain('boards.4chan.org') {
/*
@font-face {
    font-family: 'Roboto Condensed Light';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('http://themes.googleusercontent.com/licensed/font?kit=b9QBgL0iMZfDSpmcXcE8nMy-N7HujbZ0JqwuRfBHT39yFOQACMWEu2vL8qdA3O0Hujm4K-eVZHavHVh839UYnKNTdy-4qkCIoTAgTbNGeeNuqaH9WssV7EwK2XOE6nHT') format('woff');
}

@font-face {
    font-family: 'Roboto Condensed Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url('http://themes.googleusercontent.com/static/fonts/robotocondensed/v7/Zd2E9abXLFGSr9G3YK2MsO3ikv6SQm_yYbVf3nddkGw.woff') format('woff');
}
*/
*, *::after, *::before {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

:focus, :active {
    outline: 0;
}

.mobile, #id_css, .navLinks,
.boardBanner, .postingMode, hr,
.center, .topad, .middlead, .bottomad,
.navLinks + div, form[name=post],
.post input, .deleteform, .stylechanger,
.pagelist .prev, .pagelist .next, .pages.cataloglink,
#boardNavDesktopFoot, #absbot {
  display: none !important;
}

html, button, input, select, textarea {
  font-family: 'Open Sans', 'Roboto Condensed Light', sans-serif !important;
  font-size: 1em !important;
  font-weight: 300;
  color: #3d3d3d !important;
}

b, strong, .current, .name, .subject {
  font-family: 'Open Sans', 'Roboto Condensed Regular', sans-serif !important;
  font-weight: 600;
}

html {
  background-color: #fafafa;
  overflow-y: scroll;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body {
  line-height: 1.4;
  margin: 30px 0 3em;
}

a {
  color: cornflowerBlue !important;
  text-decoration: none !important;
}

#boardNavDesktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  padding: .25em 0 .25em 2em;
  border-bottom: 1px solid #ababab;
  z-index: 2;
  color: #ababab;
}

#boardNavDesktop a {
  color: #696969 !important;
}

#navtopright, .toggleCatalog, #globalToggle {
  font-size: 0;
  color: transparent;
}

.globalMessage {
  position: fixed;
  background: #fafafa;
  border: 1px solid #ababab;
  width: 500px;
  top: 30px;
  right: 149px;
  padding: .5em;
  z-index: 3;
}

.globalMessage * {
  font-size: 14px; /* yeah i know, px, gross. but have to */
  font-weight: 400;
  margin: 0;
}

.globalMessage.hideMobile {
    display: none;
}

.board .thread, .postContainer {
  position: relative;
}

.board::after, .thread::after, .postContainer::after, .post::after {
  content: '';
  display: table;
  clear: both;
}

.thread {
  margin: 1em 0;
}

.postContainer {
  border-top: 1px solid #ababab;
}

.post {
  padding: 1em;
}

.thread .postContainer:last-of-type {
  border-bottom: 1px solid #ababab;
}

.thread .postContainer:nth-of-type(even) {
  background-color: #f5f5f5;
}

#qp {
  border: 0 !important;
}

#qp > .postContainer {
  background: #fafafa;
  border: 1px solid #ababab;
}

.fileThumb {
  float: left;
  margin-top: 5px;
  margin-right: 1em;
}

.postContainer .hide_reply_button:not(.stub), .hide_thread_button:not(.hidden_thread) {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.postContainer .menu_button {
  position: absolute;
  top: 5px;
  right: 30px;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.postContainer:hover .hide_reply_button,
.thread:hover .hide_thread_button,
.postContainer:hover .menu_button {
  opacity: .9;
}

.postNum > a:first-child {
  font-size: 0;
  color: transparent;
}

.postNum > a:first-child::before {
  content: '#';
  font-size: 16px;
}

.postNum span {
  font-size: 0;
  color: transparent;
}

.postNum span .replylink {
  font-size: 16px;
  text-transform: lowercase;
}

/*.postertrip {
  font-family: monospace;
  font-size: 16px;
}
*/
.post.reply .file,
blockquote {
  margin: 0 0 0 .5em;
}

blockquote {
  margin-top: .5em;
}

.summary {
  font-size: .66em;
  color: #999 !important;
  float: right;
  margin-top: -19px;
  margin-right: 5px;
  background: #fafafa;
  border: 1px solid #ababab;
  padding: .25em .25em .12em;
  display: block;
  position: relative;
}

.container {
  display: block;
  font-size: .75em;
  margin-left: 2em;
  opacity: .75;
  color: #999;
}

.container::before {
  content: 'quoted by: ';
}

/* dat selector */

.container .backlink:not(:only-child):not(:nth-last-child(2)):not(:last-child)::after {
  content: ', ';
  color: #999 !important;
}

.container .backlink:last-child:not(:only-child)::before {
  content: ' and ';
  color: #999 !important;
}

.container::after {
  content: '.';
}

#updater .move,
#stats {
  font-size: .66em !important;
}

#count.null {
  display: none;
}

#count.new {
  color: lime;
  background: none !important;
  display: inline-block;
}

.quote {
  color: olive !important;
}

#qp {
  padding: 0 !important;
}

#qp .post {
  padding: 1em !important;
}

.qphl {
  box-shadow: none !important;
}

.dateTime {
  color: #999;
}

.move {
  cursor: default !important;
}

#stats {
  top: 2px !important;
  right: 5px !important;
  left: auto !important;
  bottom: auto !important;
  z-index: 3;
}

#updater {
  top: 14px !important;
  right: 5px !important;
  left: auto !important;
  bottom: auto !important;
  z-index: 3;
}

#imgControls {
  visibility: collapse;
  position: fixed;
}

#watcher {
  position: fixed !important;
  top: -250px !important;
  border: 1px solid #ababab !important;
  background: #fafafa !important;
  right: 107px !important;
  left: auto !important;
  bottom: auto !important;
  padding: .5em !important;
  z-index: 3;
  font-size: .75em;
}

#watcher::before {
  position: fixed;
  top: 7px;
  right: 107px;
  height: 16px;
  width: 16px;
  display: block;
  content: '';
  background: url('file:///W:/curabitr/3/batch/watch.png');
  cursor: pointer;
  opacity: .5;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

#watcher:active::before {
  content: url('file:///W:/curabitr/3/batch/watch.png');
  opacity: .9;
}

#watcher:hover::before {
  opacity: .9;
}

#watcher:active, #watcher:hover {
  top: 30px !important;
}

#watcher .move { display: none; }

#watcher div { padding: 0 !important; max-width: 300px !important; width: 300px !important; }

#watcher div a:first-child { color: indianRed !important; }

.favicon[src] {
  height: 16px;
  padding-left: 16px;
  width: 0;
  margin-bottom: -2px;
  background: url('file:///W:/curabitr/3/batch/heart-full.png');
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.favicon[src^=d] {
  opacity: .5;
}

.favicon[src^=d]:hover {
  opacity: .6;
}

.favicon[src^=h] {
  opacity: .9;
}

.stub {
  padding: 1em;
}

.stub .menu_button {
  position: static;
}

.hidden_thread {
  padding: 1em;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
}

#qr::before {
  content: url('file:///W:/curabitr/3/batch/speech-bubble-center-2.png');
  display: block;
  height: 25px;
  width: 16px;
  position: fixed;
  top: 7px;
  right: 128px;
  opacity: .5;
  z-index: 3;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

#qr:hover::before {
  opacity: .9;
}

#qr {
  top: -300px !important;
  left: auto !important;
  right: 128px !important;
  bottom: auto !important;
  background: #fafafa;
  padding: .25em !important;
}

#qr:hover {
  top: 30px !important;
}

#qr .move,
#qr input[type=file] > input[type=button] {
  display: none;
}

#qr form div:first-child::after {
  content: '';
  display: table;
  clear: both;
}

#qr .field[name=name] {
  width: 90% !important;
}

#qr .field[name=email] {
  float: left;
  width: 50% !important;
}

#qr .field[name=sub] {
  float: right;
  width: 50% !important;
}

#overlay {
  background: radial-gradient(circle, rgba(0,0,0,.75), rgba(0,0,0,.5)) !important;
  z-index: 10 !important;
}

#options {
  padding: .25em !important;
  background: #fafafa;
  z-index: 11 !important;
  width: 50% !important;
  height: 75% !important;
}

#rice_tab + div .field {
  width: 25%;
}

.pages {
  font-size: 0;
  color: transparent;
  margin-top: 32px;
}

.pages strong, .pages a {
  font-size: 16px;
  color: #3d3d3d !important;
  display: inline-block;
  width: calc(100%/11);
  text-align: center;
  border: 1px solid #ababab;
  padding: 10px 0;
}

.pages strong, .pages a:hover {
  background: #ebebeb;
}

/* [code]import prettyprint.css[/code] */

.prettyprint {
    background-color: #151717 !important;
    padding: 5px !important;
    margin: 0;
    text-shadow: none;
    white-space: pre-wrap;
    border-radius: 5px;
    display: inline-block;
}

.prettyprint span {
    font-family: monospace !important;
    color: #fafafa !important;
}

.prettyprint .str { color: #edd400 !important; } /* string - butter2 */
.prettyprint .kwd { color: #fff !important; font-weight: bold !important; } /* keyword - white */
.prettyprint .com { color: #888a85 !important; } /* comment - aluminum4 */
.prettyprint .typ { color: #8ae234 !important; font-weight: bold !important; } /* type - chameleon1 */
.prettyprint .lit { color: #edd400 !important; } /* literal - butter2 */
.prettyprint .pun { color: #d3d7cf !important; } /* punctuation - aluminium2 */
.prettyprint .pln { color: #d3d7cf !important; } /* plaintext - aluminium2 */
.prettyprint .tag { color: #729fcf !important; } /* html/xml tag - skyblue1 */
.prettyprint .atn { color: #8ae234 !important; font-weight: bold !important; } /* html/xml attribute name - chameleon1 */
.prettyprint .atv { color: #edd400 !important; } /* html/xml attribute value - butter2 */
.prettyprint .dec { color: #ce5c00 !important; } /* decimal - orange3 */


#navtopright a, .toggleCatalog a, #globalToggle {
  display: block !important;
  height: 16px;
  width: 16px;
  position: fixed;
  top: 7px;
  opacity: .5;
  z-index: 3;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

#navtopright a:hover, .toggleCatalog a:hover, #globalToggle:hover, #globalToggle.shown {
  opacity: .9;
}

#navtopright a {
  background: url('file:///W:/curabitr/3/batch/settings.png');
  right: 65px;
}

.toggleCatalog a {
  background: url('file:///W:/curabitr/3/batch/book-lines.png');
  right: 86px;
}

#globalToggle {
  background: url('file:///W:/curabitr/3/batch/flag-2.png');
  right: 149px;
}

}
