@-moz-document domain("boards.4chan.org") {

/* defaultan */
body {
background: #ebebeb url('http://i.imgur.com/9nhMM.png') top left repeat-x scroll !important;
padding: 0 !important;
margin: 0 !important;
}

a {
color: #2b75c0 !important;
text-decoration: none !important;
-webkit-transition: text-shadow .3s;
-moz-transition: text-shadow .3s;
}

a:hover {
text-shadow: 0 0 3px #3b86d2;
}

a:active, a:focus {
outline: 0 !important;
}

::selection {
color: #fafafa;
background-color: deepPink;
text-shadow: none !important;
}

::-moz-selection {
color: #fafafa;
background-color: deepPink;
text-shadow: none !important;
}

/* shitblockan */
#header + br, /* extra spacing at top of page */
.logo, /* heading/logo (cause if you don't know what board you're on, you must have problems) */
img[src^="http://static.4chan.org/support/"], /* ads (>2011 >not using adblock) */
hr, /* horizontal rules on the page */
script + center, /* for announcement styling */
th[bgcolor="#e04000"], /* posting mode: reply */
span[style="left: 5px; position: absolute;"], /* [return] */
form[name="delform"] center, /* extra margin */
.pages td:first-of-type, .pages td:last-of-type, /* previous and next page buttons */
.pages + br, /* space it out */
table[align="right"] tr:last-of-type, /* yotsuba style selector */
#footer /* bottom nav and any copyright crap */ {
display: none !important;
}

#header {
position: fixed !important;
left: 0 !important;
opacity: .5;
top: -21px !important;
-webkit-transition: all.2s;
-moz-transition: all .2s;
right: 0 !important;
text-align: center !important;
background-color: #222;
background-image: -webkit-linear-gradient(#444,#222);
background-image: -moz-linear-gradient(#444,#222);
min-height: 20px;
font-size: 0 !important;
color: transparent !important;
box-shadow: 0 0 20px 0 rgba(0,0,0,.75);
border-bottom: 1px solid #222;
z-index: 1;
}

#header::after {
content: 'Navigation';
font-size: 12px;
color: #fafafa;
position: absolute;
display: inline-block;
top: 21px;
width: 200px;
left: 50%;
margin-left: -100px;
background-color: #222;
padding-bottom: 2px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
}

#header:hover {
opacity: .95;
top: 0 !important;
}

#header a {
color: #ebebeb !important;
padding: 0 !important;
font-size: 12px !important;
line-height: 20px;
margin: 0 3px;
-webkit-transition: text-shadow .5s;
-moz-transition: text-shadow .5s;
}

#header a:hover {
text-shadow: 0 0 2px #fff, 0 0 5px #eee;
}

#navtop {
float: none !important;
}

#navtopr {
float: none !important;
display: inline !important;
}

/* announcements */
center {
margin-top: 30px;
}

center b, center h3 {
font-family: 'Helvetica', 'Arial', sans-serif;
color: #b90000;
text-shadow: 0 1px 1px #ffe9e9;
}

center blink {
text-decoration: none !important;
}

center a {
color: #2083fe !important;
}

center a:hover {
text-shadow: none;
}

/* main body */
form[name="delform"] {
width: 900px;
margin: /*30px 75px 0 20px*/0 auto !important;
}

/* postarea */
.postarea .postblock,
input[type="file"] > input[type="button"],
.postarea small,
.postarea .rules,
.postarea td:empty {
display: none;
}

.postarea {
position: fixed;
right: -400px;
bottom: 30px;
-webkit-transition: right 2s ease-in-out 3s;
-moz-transition: right 2s ease-in-out 3s;
z-index: 5;
}

.postarea:hover {
right: 5px;
-webkit-transition: right .5s;
-moz-transition: right .5s;
}

.postarea:hover textarea {
right: 0;
-webkit-transition: right .5s;
-moz-transition: right .5s;
}

.postarea form {
margin: 0 !important;
}

.postarea table {
border-collapse: collapse;
}

.postarea .inputtext:not([name="sub"]):not([name="pwd"]),
.postarea input[name="recaptcha_response_field"] {
-webkit-appearance: none;
-moz-appearance: none;
font-family: 'Helvetica', 'Arial', sans-serif;
padding: 3px 2px !important;
border: 1px solid #bbb !important;
border-radius: 3px;
margin: 1px 0 0 0 !important;
line-height: 16px !important;
width: 300px !important;
z-index: 2 !important;
}

.postarea .inputtext[name="sub"] {
-webkit-appearance: none !important;
-moz-appearance: none !important;
padding: 3px 2px !important;
border: 1px solid #bbb !important;
border-radius: 3px;
width: 224px !important;
margin: 1px 1px 0 0 !important;
line-height: 16px !important;
}

#com_submit {
-webkit-appearance: none !important;
-moz-appearance: none !important;
cursor: pointer;
font-family: 'Helvetica', 'Arial', sans-serif;
background-image: -webkit-linear-gradient(#fafafa,#ccc);
background-image: -moz-linear-gradient(#fafafa,#ccc);
border: 1px solid #bbb;
border-radius: 3px;
text-transform: lowercase;
color: #555;
text-shadow: 0 1px 0 #fff;
padding: 2px 0 1px 0 !important;
width: 75px;
min-height: 19px;
}

#recaptcha_table *:not(input) {
padding: 0 !important;
height: auto !important;
width: 300px !important;
}

#recaptcha_table tr[height] td[style*="padding"],
#recaptcha_table tr+tr > td+td,
input[type="file"] > input[type="button"]{
display: none;
}

#recaptcha_challenge_field_holder {
display: none !important;
}

.postarea #recaptcha_image {
margin-top: 1px !important;
width: 298px !important;
border-color: #bbb !important;
border-radius: 3px;
}

.postarea #recaptcha_image > img {
width: 298px !important;
border-radius: 3px;
}

.postarea textarea {
position: relative;
right: 125px;
-webkit-transition: right 1s ease-in-out 3.5s;
-moz-transition: right 1s ease-in-out 3.5s;
}

.postarea input[type="file"] > input[type="text"] {
-webkit-appearance: none;
-moz-appearance: none;
font-family: 'Helvetica', 'Arial', sans-serif;
padding: 3px 2px !important;
border: 1px solid #bbb !important;
border-radius: 3px;
width: 224px !important;
margin: 1px 1px 0 0 !important;
line-height: 16px !important;
}

.postarea input[name="pwd"] {
-webkit-appearance: none;
-moz-appearance: none;
padding: 3px 2px !important;
border: 1px solid #bbb !important;
color: #bbb;
border-radius: 3px;
margin: 1px 0 0 0 !important;
line-height: 16px !important;
position: absolute;
bottom: 0px;
right: 0;
width: 75px !important;
}

.postarea tr:nth-of-type(3) td {
font-size: 0 !important;
color: transparent !important;
}

.postarea tr:nth-of-type(3) label {
font-size: 8pt;
position: absolute;
bottom: 0;
left: 5px;
line-height: 24px;
text-transform: lowercase;
letter-spacing: -5px;
color: transparent;
-webkit-transition-property: color, letter-spacing;
-webkit-transition: .5s ease-in-out;
-moz-transition-property: color, letter-spacing;
-moz-transition: .5s ease-in-out;
z-index: 5;
}

.postarea tr:nth-of-type(3) label:hover {
color: black;
letter-spacing: 0;
}

.postarea input[type="checkbox"] {
-moz-appearance: none;
border: 1px solid #bbb !important;
margin: 0;
vertical-align: middle;
}

#com_submit:hover {
box-shadow: 0 0 2px #bbb;
}

#com_submit:active {
background-image: -webkit-linear-gradient(#ccc,#eee);
background-image: -moz-linear-gradient(#ccc,#eee);
}

/* images with the borders */
img[md5] {
border: 4px solid #fafafa !important;
border-radius: 4px;
outline: 1px solid #bbb;
-webkit-outline-radius: 5px;
-moz-outline-radius: 5px;
margin: 3px 7px 5px 3px !important;
}

.reply img, .replyhl img {
margin-bottom: 0 !important;
}

.omittedposts {
font-size: 11px;
text-shadow: none !important;
display: block;
clear: both;
float: right;
padding: 2px 5px;
margin-right: 20px;
margin-bottom: -1px;
background-image: -webkit-linear-gradient(#fafafa,#ddd);
background-image: -moz-linear-gradient(#fafafa, #ddd);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.container {
display: block;
font-size: 8pt;
margin-left: 30px;
line-height: 10pt;
color: #777;
}

.container + br {
display: none;
}

.container::before {
content: 'quoted by: ';
}

.container::after {
content: '.';
}

.container .backlink:last-of-type:not(:first-of-type)::before {
content: ' and ';
color: #777;
text-shadow: none;
cursor: text;
}

.container .backlink:not(:last-of-type):not(:nth-last-of-type(2))::after {
content: ',';
color: #777;
text-shadow: none;
cursor: text;
}

span[id^="no"] > a:nth-of-type(1) {
font-size: 0;
color: transparent !important;
}

span[id^="no"] > a:nth-of-type(1):before {
content: "#";
font-size: 10pt;
color: #2b75c0 !important;
}

span[id^="nothread"] {
font-size: 0;
color: transparent;
}

span[id^="nothread"] a {
font-size: 10pt;
color: #2b75c0;
}

span[id^="nothread"] a:nth-of-type(3) {
display: inline-block;
background-image: -webkit-linear-gradient(#fafafa,#ccc);
background-image: -moz-linear-gradient(#fafafa,#ccc);
border: 1px solid #bbb;
border-radius: 3px;
text-transform: lowercase;
color: #555 !important;
text-shadow: 0 1px 0 #fff;
padding: 3px 5px;
margin: 0 5px;
}

span[id^="nothread"] a:nth-of-type(3):hover {
box-shadow: 0 0 2px #bbb;
}

span[id^="nothread"] a:nth-of-type(3):active {
background-image: -webkit-linear-gradient(#ccc,#eee);
background-image: -moz-linear-gradient(#ccc,#eee);
}

/* put all replies underneath op */
table {
clear: both;
position: relative;
}

/* replies */
td.reply {
font: 10pt 'Helvetica', 'Arial', sans-serif !important;
line-height: 12pt !important;
color: #777 !important;
background-image: -webkit-linear-gradient(#eee, #ddd) !important;
background-image: -moz-linear-gradient(#eee, #ddd) !important;
box-shadow: 0 0 1px #999;
padding: 5px !important;
border: 0 !important;
border-radius: 5px !important;
position: relative;
width: 100%;
}

td.replyhl {
font: 10pt 'Helvetica', 'Arial', sans-serif !important;
line-height: 12pt !important;
color: #777 !important;
background-image: -webkit-linear-gradient(#eee, #ddd) !important;
background-image: -moz-linear-gradient(#eee, #ddd) !important;
box-shadow: 0 0 5px #999;
padding: 5px !important;
border: 0 !important;
border-radius: 5px !important;
position: relative;
width: 100%;
}

/* post time */
time,
.posttime {
color: #777;
}

/* filesize and filenames */
.filesize {
font: 10pt 'Helvetica', 'Arial', sans-serif;
color: #777;
line-height: 12pt;
}

.filesize a:first-of-type::after {
content: " ";
}

.reply .filesize a:first-of-type::before,
.replyhl .filesize a:first-of-type::before {
content: " : ";
color: #777;
}

.filesize span {
font-size: 0;
color: transparent !important;
}

.filesize span:after {
content: attr(title);
font-size: 10pt;
color: #777 !important;
}

.forwardlink {
color: #102073 !important;
}

.unkfunc {
color: #669933 !important;
}

/* moot and mods */
.postername > span, .postertrip > span, .commentpostername > span {
font-size: 12pt;
text-shadow: 0px 0px 5px pink;
}

blockquote > div {
background-color: rgba(255,0,0,.15);
padding: 3px !important;
border: 0 !important;
margin: 0 !important;
}

/* subject / name */
.filetitle, .replytitle,
.postername, .commentpostername {
font-weight: 600 !important;
background: none !important;
display: inline-block;
unicode-bidi: normal;
}

.filetitle, .replytitle {
color: #102073 !important;
}

/*
.linkmail {
color: #102073 !important;
text-shadow: 0 0 3px #3b86d2;
}

.linkmail > .postertrip {
color: blue;
}

.postername + .linkmail::before,
.commentpostername + .linkmail::before {
font-weight: 100;
content: ' ['attr(href)']';
}

.postername > .linkmail::after,
.commentpostername > .linkmail::after {
font-weight: 100;
content: ' ['attr(href)']';
}
*/

.linkmail {
color: #222 !important;
}

span + .linkmail:before {
content: '';
}

.linkmail:before {
content: ' ['attr(href)'] ';
font-weight: 100;
}

.postername, .commentpostername {
color: #222 !important;
}

/* trip */
.postertrip {
font-family: "Courier New", monospace;
color: #222 !important;
text-shadow: 0 0 1px #102073;
background: none !important;
}

blockquote {
font: 10pt 'Helvetica', 'Arial', sans-serif !important;
color: #222;
line-height: 12pt !important;
margin: 0 0 0 20px !important;
}

input[type="checkbox"] {
-moz-appearance: none;
margin: 0;
border: 1px solid #AAA !important;
background: rgba(255,255,255,.5) !important;
border-radius: 3px !important;
}

/* bye bye unicode fags :) */
.filetitle, .replytitle,
.postername, .commentpostername,
.postertrip {
unicode-bidi: normal;
display:inline-block;
}

/* spoilers */

.spoiler {
color: transparent !important;
background: #222 !important;
border-radius: 3px;
box-shadow: 0 0 3px rgba(0,0,0,.25);
-webkit-transition: all .2s;
-moz-transition: all .2s;
}

.spoiler:hover {
color: #222 !important;
background: none !important;
box-shadow: none;
}

.quotelink {
text-shadow: none;
}

.spoiler .unkfunc {
color: inherit !important;
text-shadow: none;
}

/* pages */

.pages {
float: none !important;
border-spacing: 0;
border-collapse: collapse;
display: block;
position: relative;
clear: both;
width: 100%;
background: none !important;
border: 0 !important;
text-align: center;
margin: 20px 0;
}

.pages, .pages tbody, .pages tr, .pages td {
display: block;
}

.pages td {
padding: 0 !important;
font-size: 0 !important;
color: transparent;
word-spacing: 7px;
}

.pages td:not(:nth-of-type(2)) {
display: none;
}

.pages a, .pages b {
font-size: 14px !important;
color: #2d2d2d !important;
padding: 3px 2px !important;
min-width: 16px;
display: inline-block;
background-image: -webkit-linear-gradient(#fff,#ddd);
background-image: -moz-linear-gradient(#fff,#ddd);
box-shadow: 0 1px 2px rgba(0,0,0,.5);
border-radius: 3px !important;
-webkit-transition: box-shadow .2s;
-moz-transition: box-shadow .2s;
text-shadow: none;
}

.pages a:hover {
box-shadow: 0 1px 4px rgba(0,0,0,.75);
}

.pages b {
font-weight: 600;
color: #ededed !important;
background-image: -webkit-linear-gradient(#4c4c4c,#2d2d2d);
background-image: -moz-linear-gradient(#4c4c4c,#2d2d2d);
cursor: default;
}

/* deleting posts and reporting */

table[align=right] td {
font: 8pt 'Helvetica', 'Arial', sans-serif !important;
color: #777;
background-color: #fafafa;
position: fixed;
right: -277px;
bottom: 310px;
opacity: .5;
padding: 1px 0 0 5px !important;
height: 25px;
line-height: 25px !important;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
-webkit-transition: all .2s;
-moz-transition: all .2s;
}

table[align=right] td:hover {
opacity: .9;
right: 0;
}

table[align=right] input[name=pwd] {
-webkit-appearance: none;
-moz-appearance: none;
padding: 3px 2px !important;
border: 1px solid #bbb !important;
color: #bbb;
border-radius: 3px;
margin: 0 !important;
line-height: 16px !important;
width: 75px !important;
}

table[align=right] input[value=Delete],
table[align=right] input[value=Report] {
-webkit-appearance: none;
-moz-appearance: none;
cursor: pointer;
font: 8pt 'Helvetica', 'Arial', sans-serif;
background-image: -webkit-linear-gradient(#fafafa,#ccc);
background-image: -moz-linear-gradient(#fafafa,#ccc);
border: 1px solid #bbb;
border-radius: 3px;
text-transform: lowercase;
color: #555;
text-shadow: 0 1px 0 #fff;
padding: 2px 0 1px 0 !important;
min-height: 24px !important;
margin-right: 3px;
}

.stub {
margin: 8px 0;
clear: both;
}

.stub a {
display: inline-block;
padding: 5px;
font: 10pt 'Helvetica', 'Arial', sans-serif;
background-image: -webkit-linear-gradient(#eee, #ddd) !important;
background-image: -moz-linear-gradient(#eee, #ddd) !important;
box-shadow: 0 0 1px #999;
border-radius: 5px;
}

.stub a:hover {
text-shadow: none;
box-shadow: 0 0 2px #999;
}

/* thread watcher */
#watcher {
position: fixed !important;
opacity: .5;
padding: 5px;
border: 0 !important;
border-radius: 4px;
background-color: #e7e7e7 !important;
box-shadow: 0 0 10px rgba(0,0,0,.25);
-webkit-transition: opacity .1s;
-moz-transition: opacity .1s;
}

#watcher:hover {
opacity: .8;
}

#watcher > div {
padding: 0 !important;
}

#watcher > .move {
color: #777;
text-align: center;
text-transform: lowercase;
text-decoration: none !important;
}

/* stats */
#stats {
color: #222;
position: fixed;
top: 21px;
bottom: auto !important;
opacity: .5;
padding: 5px;
border-radius: 4px;
background-color: #e7e7e7 !important;
box-shadow: 0 0 10px rgba(0,0,0,.25);
}

#stats > .move {
cursor: default !important;
}

#stats:hover #postcount::after {
content: " post(s)";
}

#stats:hover #imagecount::after {
content: " image(s)";
}

#qp {
border: 0 !important;
background: rgba(235,235,235,.85) !important;
padding: 5px !important;
border-radius: 3px;
}

.qphl {
outline: 0 !important;
box-shadow: 0 0 5px #999 !important;
}


#qr {
background: rgba(235,235,235,.85) !important;
padding: 5px !important;
border-radius: 3px;
opacity: .5;
border: 0 !important;
box-shadow: 0 0 4px 2px rgba(0,0,0,.15);
-webkit-transition: opacity .3s;
-moz-transition: opacity .3s;
}

#qr:hover {
opacity: .9;
}

#updater {
color: #777 !important;
background-image: -webkit-linear-gradient(#eee,#ddd) !important;
background-image: -moz-linear-gradient(#eee,#ddd) !important;
top: auto !important;
right: 30px !important;
bottom: 0 !important;
left: auto !important;
border: 0 !important;
padding: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
box-shadow: 0 0 1px #999;
}

#updater .move {
cursor: default !important;
text-align: center;
}

#updater #count:not(.new):not(.error) {
display: none;
}

#updater .new {
color: #20cc50;
background: none !important;
}

#updater .error {
color: #b90000 !important;
}

#updater input {
margin-left: 3px;
}

#updater input[name="Interval"] {
-webkit-appearance: none;
-moz-appearance: none;
text-align: center;
padding: 3px 2px;
border: 1px solid #bbb;
border-radius: 3px;
}

#updater div:last-of-type {
text-align: center;
}

#updater input[value="Update Now"] {
-webkit-appearance: none;
-moz-appearance: none;
cursor: pointer;
font-family: 'Helvetica', 'Arial', sans-serif;
color: #555;
text-shadow: 0 1px 0 #fff;
background-image: -webkit-linear-gradient(#fafafa,#ccc);
background-image: -moz-linear-gradient(#fafafa,#ccc);
padding: 1px 3px;
border: 1px solid #bbb;
border-radius: 3px;
margin: 1px;
}

#updater input[value="Update Now"]:hover {
box-shadow: 0 0 2px #bbb;
}